.list-item-btn {
  padding: 20px;
  background-color: #272727;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-width: 0px;
  outline: none;
  color: #ffffff;
}

.logo-img {
  width: 70px;
  height: 80px;
}
.title-rating-container {
  padding: 10px;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
.job-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jd-sub-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.title {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

.jd-heading {
  font-size: 20px;
  font-family: Roboto;
  text-align: left;
}

.jd-description {
  font-size: 16px;
  text-align: left;
  font-family: Roboto;
}

.flex {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
