.login-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #272727;
}
.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-logo {
  width: 100px;
  height: 30px;
  margin: 10px;
}
.label-text {
  font-size: 12px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 2px;
  font-family: Roboto;
  font-weight: bold;
}

.input-container {
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  background-color: transparent;
  border-color: #64748b;
  border-radius: 4px;
  border-style: solid;
  outline: none;
  height: 30px;
  font-family: Roboto;
  border-width: 1px;
  color: #ffffff;
}

.login-btn {
  width: 100%;
  border-radius: 4px;
  border-width: 0px;
  color: #ffffff;
  font-family: Roboto;
  background-color: #4f46e5;
  height: 30px;
  margin-top: 30px;
}
